.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 1rem;
}

.App-header {
  background-color: white;
  background-image: url("./img/hero-lg.jpg");
  background-size: cover;
  color: #6F00C1;
  min-height: 100vh;
  display: flex;
  font-size: 3rem;
  font-family: 'Quicksand';
  font-weight: 700;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header p {
  max-width: 80%;
}

.App-link {
  color: #61dafb;
}

.Top-nav img {
  margin: 0 .25rem;
  width: .5rem;
  padding: .15rem 0;
 }

 .Top-nav img:hover {
  transition-delay: 125ms;
  filter: brightness(0.65);
 }

 .Squiggle {
  padding-top: 3rem;
}
